/*scrolling smooth*/
html {
    scroll-behavior: smooth;
}

/*rest here are just colours, fonts, padding etc*/
body{
    font-family: 'Inter', sans-serif;
    margin:0;
    background:#f5f7fa;
    color:#333;
}

header{
    background:linear-gradient(to right, #3f285c, #1c2b44);
    color:white;
    text-align:center;
    padding:50px 20px;
}

header h1{
    margin:0;
    font-size:36px;
}

header p{
    margin-top:10px;
    font-weight:300;
}


nav {
    position: sticky;
    top: 0;
    background: #323f4b;
    text-align:center;
    padding: 12px;
    z-index: 1000;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 20px;
    font-weight:500;
}

nav a:hover{
    text-decoration:underline;
}

section{
    max-width:800px;
    margin:auto;
    padding:40px 20px;
}

h2{
    border-bottom:2px solid #ddd;
    padding-bottom:10px;
}

ul{
    line-height:1.8;
}

.button{
    display:inline-block;
    padding:12px 20px;
    background:#5375be;
    color:white;
    text-decoration:none;
    border-radius:6px;
}

.button:hover{
    background:#142a67;
}

footer{
    text-align:center;
    padding:30px;
    background:#f1e1dc;
    margin-top:40px;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background: #323f4b;
    color: white;
    padding: 30px;
    z-index: 2000;
}

.sidebar h3{
    margin-top:0;
}

.sidebar a{
    color:#60a5fa;
    text-decoration:none;
    word-break:break-word;
}

body{
    margin-left:240px;
}


